@import "tailwindcss";

@theme {
  --font-comic: "Comic Sans MS", "cursive", "sans-serif";
}
@layer utilities {
  @keyframes wiggle {
    0% {
      rotate: 0deg;
    }
    50% {
      rotate: -20deg;
    }
  }
}
